{{- $render := . -}}
You are subscribed to the following validators' updates on {{ .ChainConfig.GetName }}:
{{- range .Entries }}
{{ if .Validator.Jailed -}}
<strong>{{ SerializeLink .Link }}:</strong> jailed
{{- else if not .Validator.Active -}}
<strong>{{ SerializeLink .Link }}:</strong> not in the active set
{{- else if .Error -}}
<strong>{{ SerializeLink .Link }}:</strong> error getting validators missed blocks: {{ .Error }}
{{- else -}}
<strong>{{ SerializeLink .Link }}</strong> ({{ $render.FormatVotingPower . }}): {{ .SigningInfo.GetNotSigned }} missed blocks ({{ $render.FormatNotSignedPercent . }}%)
{{- end -}}
{{ end }}
